@tailwind base;

@font-face {
  font-family: "Urbanist";
  src: url("//my-next-app/src/app/fronts/urbran.woff2");
  font-display: block;
  font-style: normal;
  font-weight: 300 900;
  font-stretch: 75% 12%;
}